[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
wagtail = "*"
django-environ = "*"

[dev-packages]

[production]
pymysql = "*"

[requires]
python_version = "3.11"
